*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

#wallpaper{
    width: 100%;
    height: 100%;
    background-image: url(/images/bgd-kali.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#openCmd{
    width: 1.7%;
    height: 3.9%;
    left: 9.1%;
    background-color: transparent;
    position: fixed;
    /* border: 1px solid black; */
    cursor: pointer;
}

#escolher{
    width: 1.9%;
    height: 3.9%;
    left: 19.2%;
    /* border: 1px solid black ; */
    background-color: transparent;
    position: fixed;
    cursor: pointer;
}

#cmds{
    width: 9%;
    height: auto;
    background-color: rgb(40, 40, 40);
    position: fixed;
    left: 19.2%;
    top: 4%;
    border-radius: 5px;
    display: none;
}

.cmds{
    background-color: transparent;
    margin: 2px;
    margin-left: 0;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;
}

.cmds img{
    margin-right: 5px;
}

.cmds:last-of-type{
    display: none;
}

#cmd, #cmd2{
    background-color: rgba(50, 50, 50, 0.85);
    width: 35%;
    height: 50%;
    display: none;
    border-radius: 15px;
    position: absolute;
    top: 20%;
    left: 32%;
    z-index: 0;
}

#cmd2{
    top: 58%;
    left: 20%;
    height: 40%;
}

#cmd3{
    background-color: rgba(50, 50, 50, 0.9);
    width: 35%;
    height: 50%;
    display: none;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 0;
}

#main2{
    color: white;
    font-family: monospace;
    font-size: 15px;
    margin: 1px 10px;
}

#cmdHeader, #cmd2Header, #cmd3Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    height: 40px;
}

.cmdLogo{
    margin: 0 5px;
}

.cmdPath{
    color: white;
    font-size: 15px;
    font-weight: lighter;
}

.buttons{
    display: flex;
    align-items: center;
}

#close, #closeNotepad{
    background-color: rgb(31, 31, 182);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: inset 0px 0px 4px black;
}

#max, #min, #minNotepad, #maxNotepad{
    height: 15px;
    width: 15px;
    background-color: rgb(50, 50, 50);
    margin: 5px 2px;
    border-radius: 50%;
    box-shadow: inset 0 0 4px black;
    cursor: pointer;
}

main{
    height: 87%;
    overflow-y: scroll;
}
main::-webkit-scrollbar{
    display: none;
}

#cmdInput, #cmdInput2, #cmdInput3{
    box-sizing: border-box;
    width: 98%;
    height: auto;
    padding-top: 2px;
    margin: 0 10px;
    margin-right: 0;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    overflow: hidden;
    display: block;
    font-family: monospace;
    font-size: 15px;
}

.texto{
    color: white;
    margin: 1px 10px;
    font-family:monospace;
    font-size: 15px;
}

.erro, label, .erro2, .erro3{
    font-family: monospace;
    font-size: 15px;
    color: white;
    margin: 1px 10px;
}

#openNotepad{
    width: 2.8%;
    height: 6%;
    left: 2.4%;
    top: 43.5%;
    background-color: transparent;
    position: fixed;
    cursor: pointer;
    /* border: 1px solid black; */
}

#openNotepad2{
    /* border: 1px solid black; */
    width: 2.8%;
    height: 6%;
    left: 2.4%;
    top: 56.3%;
    background-color: transparent;
    position: fixed;
    cursor: pointer;
}

.infosNotepad, .infosNotepad2{
    height: 10%;
    width: 17%;
    background-color: rgba(20, 20, 20, 0.89);
    position: fixed;
    top: 50.5%;
    left: 0.1%;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(190,190,190);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.infosNotepad h4, .infosNotepad2 h4{
    font-weight: normal;
    font-size: 12px;
}

.infosNotepad2{
    top: 63.1%;
}

#notepad, #notepad2{
    height: 70%;
    width: 40%;
    background-color: rgb(50, 50, 50);
    position: absolute;
    border-radius: 10px 10px 5px 5px;
    display: none;
    top: 8%;
    right: 20px;
}

#notepad2{
    top: 25%;
    right: 300px;
}

#notepadHeader, #notepad2Header{
    width: 100%;
    height: 30px;
    background-color: rgb(30, 30, 30);
    border-radius: 10px 10px 0 0;
    cursor:move;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#notepadHeader h4, #notepad2Header h4{
    color: white;
    font-size: 12px;
    font-weight: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#notepadHeader img, #notepad2Header img{
    margin: 0 5px;
}

.notepadOptions{
    width: 100%;
    height: 25px;
    background-color: rgb(30, 30, 30);
    border-top: 1px solid rgb(40, 40, 40);
    display: flex;
    align-items: center;
}

#file, #edit, #view, #search, #document, #help{
    background-color: rgb(30, 30, 30);
    color: white;
    cursor: pointer;
    height: 20px;
    width: 30px;
    margin-right: 8px;
    margin-left: 6px;
}

#edit, #view{
    width: 35px;
}

#search{
    width: 38px;
}

#document{
    width: 57px;
}
#notepadMain, #notepadMain2{
    height: calc(100% - 55px);
    border-radius: 0 0 5px 5px;
}

.notepadToolbar{
    height: 25px;
    width: 100%;
    background-color: rgb(30, 30, 30);
    border-top: 1px solid rgb(40, 40, 40);
    display: flex;
    align-items: center;
}

.notepadToolbar img {
    height: 18px;
    margin-left: 10px;
    margin-right: 5px;
}

.notepadToolbar div{
    display: flex;
    align-items: center;
}

.div1{
    border-right: 1px solid rgb(40, 40, 40);
}
.div2{
    border-right: 1px solid rgb(40, 40, 40);
}
.notepadToolbar div:last-child{
    border-right: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#notepadTextarea{
    width: 100%;
    height: 99%;
    resize: none;
    color: white;
    outline: none;
    background-color: rgb(50, 50, 50);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#notepad2Textarea{
    width: 100%;
    height: 99%;
    resize: none;
    color: white;
    outline: none;
    background-color: rgb(50, 50, 50);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


#notepadTextarea::-webkit-scrollbar-track, #notepad2Textarea::-webkit-scrollbar-track {
    background-color: rgb(50, 50, 50);
}

#notepadTextarea::-webkit-scrollbar-thumb, #notepad2Textarea::-webkit-scrollbar-thumb{
    background-color: rgb(80, 80, 80);
}

#notepadTextarea::-webkit-scrollbar, #notepad2Textarea::-webkit-scrollbar {
    width: 8px;
}
