*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

#wallpaper{
    width: 100vw;
    height: 100vh;
    background-image: url(/images/bgd-kali.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#openCmd{
    width: 2.3%;
    height: 5%;
    left: 12.9%;
    background-color: transparent;
    position: fixed;
    cursor: pointer;
}

#cmd{
    background-color: rgba(50, 50, 50, 0.85);
    width: 35%;
    height: 50%;
    display: block;
    border-radius: 15px;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 0;
}

#cmd2{
    background-color: rgba(50, 50, 50, 0.85);
    width: 50%;
    height: 100%;
    display: none;
    border-radius: 15px;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 1;
}

#cmdHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    height: 40px;
}

.cmdLogo{
    margin: 0 5px;
}

.cmdPath{
    color: white;
    font-size: 15px;
    font-weight: lighter;
}

.buttons{
    display: flex;
    align-items: center;
}

#close, #close2, #closeNotepad{
    background-color: rgb(31, 31, 182);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: inset 0px 0px 4px black;
}

#max, #min, #max2, #min2, #minNotepad, #maxNotepad{
    height: 15px;
    width: 15px;
    background-color: rgb(50, 50, 50);
    margin: 5px 2px;
    border-radius: 50%;
    box-shadow: inset 0 0 4px black;
    cursor: pointer;
}

main{
    height: 87%;
    overflow-y: scroll;
}
main::-webkit-scrollbar{
    display: none;
}

#cmdInput{
    box-sizing: border-box;
    width: 98%;
    height: auto;
    padding-top: 2px;
    margin: 0 10px;
    margin-right: 0;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    overflow: hidden;
    display: block;
    font-size: 13px;
}

.texto{
    color: white;
    margin: 1px 10px;
    font-family:monospace;
    font-size: 15px;
}

#openNotepad{
    width: 2.3%;
    height: 5%;
    left: 8.2%;
    background-color: transparent;
    position: fixed;
    cursor: pointer;
}

#notepad{
    height: 70%;
    width: 40%;
    background-color: rgb(50, 50, 50);
    position: absolute;
    border-radius: 10px 10px 5px 5px;
    display: none;
    top: 35px;
    right: 20px;
}

#notepadHeader{
    width: 100%;
    height: 30px;
    background-color: rgb(30, 30, 30);
    border-radius: 10px 10px 0 0;
    cursor:move;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#notepadHeader p{
    color: white;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#notepadHeader img{
    margin: 0 5px;
}

.notepadOptions{
    width: 100%;
    height: 25px;
    background-color: rgb(30, 30, 30);
    border-top: 1px solid rgb(40, 40, 40);
    display: flex;
    align-items: center;
}

#file, #edit, #view{
    background-color: rgb(30, 30, 30);
    color: white;
    cursor: pointer;
    height: 20px;
    width: 30px;
    margin-right: 8px;
    margin-left: 6px;
}

#edit, #view{
    width: 35px;
}

#notepadMain{
    height: calc(100% - 55px);
    border-radius: 0 0 5px 5px;
}

#notepadTextarea{
    width: 100%;
    height: 99%;
    resize: none;
    color: white;
    outline: none;
    background-color: rgb(50, 50, 50);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#notepadTextarea::-webkit-scrollbar-track {
    background-color: rgb(50, 50, 50);
}

#notepadTextarea::-webkit-scrollbar-thumb{
    background-color: rgb(80, 80, 80);
}

#notepadTextarea::-webkit-scrollbar {
    width: 8px;
}
